#orientacoes-cadastro {
    margin-bottom: 30px;
}

/* caixas para instruções de cadastro */
.orientacoes-caixas {
    display: flex;
    gap: 20px;
}
.orientacoes-caixas article {
    flex: 1;
    border: 2.5px solid #33cc99;
    border-radius: 10px;
    padding: 0 15px;
}

/* organização dos campos de preenchimento */
/* Títulos das caixas */
legend {
    font-weight: 600;
}
/* Organiza verticalmente */
.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}
/* Organiza dois ou mais campos horizontalmente */
.linha-campos {
    display: flex;
    gap: 20px;
    margin-top: 10px; /* Espaçamento entre as linhas dos campos */
}

.dados-cadastro {
    display: flex;
    gap: 10px; /* Espaçamento entre as duas caixas */
}
.dados-cadastro > fieldset { /* Para os fieldset dividirem o mesmo espaço */
    flex: 1;
    min-width: 0;
}
.bloco-cadastro {
    flex: 1;
}
.dados-cadastro fieldset {
    flex: 1;
    min-width: 0;
    padding: 20px;
}

/* Áreas de atuação */
.areas-atuacao {
    display: grid; /* Forma de grip */
    grid-template-columns: 1fr 1fr; /* Linhas e colunas */
    gap: 20px;
    padding: 15px;
}
/* Caixas */
.area {
    background-color: rgba(51, 204, 153, 0.4); /* Em RGB para controlar a opacidade */
    border-radius: 10px;
    padding: 15px;
}

button[type="submit"] {
    background-color: #ff9933;
    color: #f2f2f2;
    font-family: "Hammersmith One", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    padding: 10px 40px;
    cursor: pointer;
    display: block; /* Transforma em bloco para aceitar as margens */
    margin: 0 auto; /* Margem automática para centralizar o botão */
}